/*Configuración general de la página*/

*{
    margin: 0;
    padding: 0;
}

#rootTwo{
    overflow: hidden;
    margin-bottom: 50px;
}

#rootThree{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2956b2;
}

#rootFour{
    padding-top: 50px;
    padding-bottom: 50px;
}

#rootFive{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(230, 230, 230);
}

#rootSix{
    padding-top: 50px;
    padding-bottom: 50px;
    border: 10px solid rgb(230, 230, 230);
}

/*Configuración botón flotante*/

.btn-float{
    position: fixed;
    right: 25px;
    bottom: 225px;
    transform: scale(0);
}

.button-float{
    font-size: 50px;
    color: #5ab507;
    opacity: 60%;
    cursor: pointer;
}

.button-float:hover{
    opacity: 100%;
}

/*-------------------------Media Query max-width: 550px-------------------------*/

@media (max-width: 550px){

.btn-float{
    display: none;
}

}