/*Header setting (container)*/

.container-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom: 50px solid rgb(230, 230, 230);
}

/*Menu setting*/

.container-menu{
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    list-style: none;
    background-color: #5ab507;
}

.container-menu .item-menu a{
    padding-right: 25px;
    padding-left: 25px;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.container-menu .item-menu a:hover{
    color: #2956b2;
    text-decoration: underline;
}

/*Logo setting*/

.container-logo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
    background-color: #5ab507;
}

.logo-item{
    font-size: 40px;
    color: #fff;
}

.container-title{
    display: flex;
    align-items: center;
}

.title{
    font-family: 'Raleway';
    font-size: 28px;
    color: #2956b2;
}

/*Block the menu setting of mobile and tablet*/

.container-logo-mobile{
    display: none;
}

.container-button-menu{
    display: none;
}

.container-menu-mobile, .invisible{
    display: none;
}

/*---------------Media Query max-width: 550px (mobile and tablet)---------------*/

@media (max-width: 550px){

/*Header setting (container)*/

.container-header-mobile{
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

/*Logo setting*/

.container-logo-mobile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    right: 25px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5ab507;
}

.logo-item-mobile{
    font-size: 25px;
    color: #fff;
}

/*Main button of vertical menu setting*/

.container-button-menu{
    width: 10%;
    position: absolute;
    border: none;
    background-color: #fff;
    top: 15px;
    left: 20px;
    display: flex;
}

.button-menu{
    font-size: 35px;
    color: #5ab507;
    cursor: pointer;
}

/*Vertical menu setting*/

.container-menu-mobile{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: scaleY(1);
    transform-origin: top;
    transition: 0.3s;
    left: 20px;
    top: 45px;
}

.option-menu{
    border:none;
    text-align: left;
    background-color: #2956b2;
    padding: 15px 10px;
}

.container-menu-mobile button a{
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

/*Special setting for make visible the menu*/

.invisible{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    left: 15px;
    top: 45px;
}

.invisible button a{
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

/*Block the horizontal menu setting of tablet/computer*/

.container-header{
    display: none;
}

.container-menu{
    display: none;
}

.container-logo{
    display: none;
}

.container-title{
    display: none;
}

}

/*---------------Media Query min-width: 550px (Tablet/mobile horizontal)---------------*/

@media (min-width: 550px){

/*Header setting (container)*/

.container-header{
    height: 175px;
    align-items: center;
    padding-top: 30px;
}

/*Menu setting*/

.container-menu{
    width: 100%;
    top: 105px;
}

.container-menu .item-menu a{
    padding-right: 25px;
    padding-left: 25px;
    font-size: 20px;
}  

/*Logo setting*/

.container-logo{
    width: 80px;
    height: 80px;
}

.title{
    font-size: 40px;
}
    
}

/*-------------------------Media Query min-width: 1280px (HD)-------------------------*/

@media (min-width: 1280px){

/*Menu setting*/

.title{
    font-size: 50px;
}

.container-menu{
    width: 80%;
    top: 102px;
}

.container-menu .item-menu a{
    padding-right: 40px;
    padding-left: 40px;
    font-size: 22px;
}
    
}

/*-------------------------Media Query min-width: 1920px (FHD)-------------------------*/

@media (min-width: 1920px){

/*Header setting (container)*/

.container-header{
    height: 250px;
    border-bottom: 70px solid rgb(230, 230, 230);
}

/*Menu setting*/

.container-menu{
    top: 152px;
}

.container-menu .item-menu a{
    padding-right: 55px;
    padding-left: 55px;
    font-size: 38px;
}

/*Logo setting*/

.container-logo{
    width: 110px;
    height: 110px;
}

.logo-item{
    font-size: 55px;
}

.title{
    font-size: 70px;
}

}

/*-------------------------Media Query min-width: 2560px (QHD)-------------------------*/

@media (min-width: 2560px){

/*Header setting (container)*/

.container-header{
    height: 350px;
    border-bottom: 100px solid rgb(230, 230, 230);
}

/*Menu setting*/

.container-menu{
    top: 234px;
}

.container-menu .item-menu a{
    padding-right: 65px;
    padding-left: 65px;
    font-size: 50px;
}

/*Logo setting*/

.container-logo{
    width: 160px;
    height: 160px;
}

.logo-item{
    font-size: 80px;
}

.title{
    font-size: 110px;
}

}

/*-------------------------Media Query min-width: 3840px (UHD)-------------------------*/

@media (min-width: 3840px){

/*Header setting (container)*/

.container-header{
    height: 550px;
    border-bottom: 125px solid rgb(230, 230, 230);
}

/*Menu setting*/

.container-menu .item-menu a{
    padding-right: 150px;
    padding-left: 150px;
    font-size: 80px;
}

.container-menu{
    top: 386px;
}

/*Logo setting*/

.container-logo{
    width: 250px;
    height: 250px;
}

.logo-item{
    font-size: 125px;
}

.title{
    font-size: 150px;
}

}

/*-------------------------Media Query min-width: 7680px (UHD 8K)-------------------------*/

@media (min-width: 7680px){

/*Header setting (container)*/

.container-header{
    height: 1000px;
    border-bottom: 300px solid rgb(230, 230, 230);
}

/*Menu setting*/

.container-menu{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-menu .item-menu a{
    padding-right: 200px;
    padding-left: 200px;
    font-size: 170px;
}

.container-menu{
    top: 650px;
}

/*Logo setting*/

.container-logo{
    width: 500px;
    height: 500px;
}

.logo-item{
    font-size: 250px;
}

.title{
    font-size: 300px;
}

}